<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <img class="logo" src ="/images/logo.png">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Homepage</a>
        <a class="nav-item nav-link" href="#">Search Quiz</a>
        <a class="nav-item nav-link" href="#">Login</a>
        <a class="nav-item nav-link" href="#">Sign Up</a>
      </div>
    </div>
  </nav>
</header>
