<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <img class="logo" src ="/images/logo.png">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Homepage</a>
        <!-- Logged in -->
        <% if (user) { %>
          <a class="nav-item nav-link" href="/search">Search Quiz</a>
          <a class="nav-item nav-link" href="/new">Create Quiz</a>
          <a class="nav-item nav-link" href="/quizzes">My Quizzes</a>
          <a class="nav-item nav-link" href="/results">My Results</a>
          <a class="nav-item nav-link" href="/logout">Log Out</a>
          <% } else { %>
          <!-- Not logged in -->
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Sign Up</a>
          <% } %>
      </div>
    </div>
  </nav>
</header>
