<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Light | Create Quiz</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/create-quiz.css" />
  <link rel="stylesheet" href="/styles/header.css" />


  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script defer src="/scripts/create-quiz.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <header>
    <%- include('./partials/header', {user}) %>
  </header>

    <!-- Header -->
    <main class="container">
      <h1>Create Quiz</h1>
      <!-- Create Quiz Form -->
      <form class="form-inline" method="POST" action="/new">
        <!-- Initial Info -->
        <fieldset class="init-vals">
          <!-- <section class="initial"> -->
          <div class="title">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
          </div>
          <div class="subject">
            <label for="subject">Subject:</label><br>
            <select name="subject" id="subject">
              <option value="education">Educational</option>
              <option value="survey">Survey</option>
              <option value="trivia">Trivia</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="thumbnail">
            <label for="thumbnail_url">Cover Photo URL:</label><br>
            <input type="text" id="thumbnail_url" name="thumbnail_url" required><br>
          </div>
          <div class="public">
            <label for="public">Public? Y/N:</label><br>
            <select name="public" id="public">
              <option value="public">Yes</option>
              <option value="private">No</option>
            </select>
          </div>
          <!-- </section> -->
        </fieldset>

        <!-- Question 1 -->
        <fieldset class="q">
          <div>
            <label for="q1">Question 1:</label><br>
            <textarea class="question-box" type="text" id="q1" name="q1" required></textarea>
          </div>
          <section class=answers-one>
            <div>
              <label for="q1a">1:</label><br>
              <textarea class="text" type="text" id="q1a" name="q1a" required></textarea>
            </div>
            <div>
              <label for="q1b">2:</label><br>
              <textarea class="text" type="text" id="q1b" name="q1b" required></textarea>
            </div>
            <div>
              <label for="q1c">3:</label><br>
              <textarea class="text" type="text" id="q1c" name="q1c" required></textarea>
            </div>
            <div>
              <label for="q1d">4:</label><br>
              <textarea class="text" type="text" id="q1d" name="q1d" required></textarea>
            </div>
          </section>
          <div>
            <label for="q1-corr-ans">Correct Answer:</label><br>
            <select class="question-one" name="question-one" id="question-one">
              <option value="option-1">1</option>
              <option value="option-2">2</option>
              <option value="option-3">3</option>
              <option value="option-4">4</option>
            </select>
          </div>

        </fieldset>

        <!-- Question 2 -->
        <fieldset class="q">
          <div>
            <label for="q1">Question 2:</label><br>
            <textarea class="question-box" type="text" id="q2" name="q2" required></textarea>
          </div>
          <section class=answers-one>
            <div>
              <label for="q1a">1:</label><br>
              <textarea class="text" type="text" id="q2a" name="q2a" required></textarea>
            </div>
            <div>
              <label for="q1b">2:</label><br>
              <textarea class="text" type="text" id="q2b" name="q2b" required></textarea>
            </div>
            <div>
              <label for="q1c">3:</label><br>
              <textarea class="text" type="text" id="q2c" name="q2c" required></textarea>
            </div>
            <div>
              <label for="q1d">4:</label><br>
              <textarea class="text" type="text" id="q2d" name="q2d" required></textarea>
            </div>
          </section>
          <div>
            <label for="q1-corr-ans">Correct Answer:</label><br>
            <select class="question-one" name="question-one" id="question-one">
              <option value="option-1">1</option>
              <option value="option-2">2</option>
              <option value="option-3">3</option>
              <option value="option-4">4</option>
            </select>
          </div>
        </fieldset>

        <!-- Question 3 -->
        <fieldset class="q">
          <div>
            <label for="q1">Question 3:</label><br>
            <textarea class="question-box" type="text" id="q3" name="q3" required></textarea>
          </div>
          <section class=answers-one>
            <div>
              <label for="q1a">1:</label><br>
              <textarea class="text" type="text" id="q3a" name="q3a" required></textarea>
            </div>
            <div>
              <label for="q1b">2:</label><br>
              <textarea class="text" type="text" id="q3b" name="q3b" required></textarea>
            </div>
            <div>
              <label for="q1c">3:</label><br>
              <textarea class="text" type="text" id="q3c" name="q3c" required></textarea>
            </div>
            <div>
              <label for="q1d">4:</label><br>
              <textarea class="text" type="text" id="q3d" name="q3d" required></textarea>
            </div>
          </section>
          <div>
            <label for="q1-corr-ans">Correct Answer:</label><br>
            <select class="question-one" name="question-one" id="question-one">
              <option value="option-1">1</option>
              <option value="option-2">2</option>
              <option value="option-3">3</option>
              <option value="option-4">4</option>
            </select>
          </div>

        </fieldset>
        <!-- Question 4 -->
        <fieldset class="q">
          <div>
            <label for="q1">Question 4:</label><br>
            <textarea class="question-box" type="text" id="q4" name="q4" required></textarea>
          </div>
          <section class=answers-one>
            <div>
              <label for="q1a">1:</label><br>
              <textarea class="text" type="text" id="q4a" name="q4a" required></textarea>
            </div>
            <div>
              <label for="q1b">2:</label><br>
              <textarea class="text" type="text" id="q4b" name="q4b" required></textarea>
            </div>
            <div>
              <label for="q1c">3:</label><br>
              <textarea class="text" type="text" id="q4c" name="q4c" required></textarea>
            </div>
            <div>
              <label for="q1d">4:</label><br>
              <textarea class="text" type="text" id="q4d" name="q4d" required></textarea>
            </div>
          </section>
          <div>
            <label for="q1-corr-ans">Correct Answer:</label><br>
            <select class="question-one" name="question-one" id="question-one">
              <option value="option-1">1</option>
              <option value="option-2">2</option>
              <option value="option-3">3</option>
              <option value="option-4">4</option>
            </select>
          </div>
        </fieldset>

        <!-- Submit/Canel Quiz -->
        <section class="all-buttons">
          <div class ="question-options">
            <button class="add-question">Add Question</button>
            <button class="rem-question">Remove Question</button>
          </div>
          <input class="create-quiz"type="submit" value="Create Quiz">
          <a href="/">Cancel</a>
        </div>
      </form>
    </main>
</body>

</html>
