<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Light | Search</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/search.css" />

  <!-- External Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App Scripts -->
  <script defer src="/scripts/search.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <%- include('partials/header') %>

    <!-- Header -->
    <h1>Search for a Quiz</h1>

    <!-- Search form -->
    <form>
      <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
      </div>
      <div>
        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject"><br>
      </div>
      <div>
        <label for="min-rating">Minimum Rating:</label><br>
        <input type="text" id="min-rating" name="min-rating"><br>
      </div>
      <input type="submit" value="Submit">
      <a href="/">Cancel</a>
      </div>
    </form>
</body>

</html>
