main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    text-align: center;
    font-family:'Roboto', sans-serif;
  }
  p {
    text-align:center;
    font-size: small;
  }
  label {
    font-family:'Roboto', sans-serif;
  }
}
.form-group{
  width: 382px;
  overflow: hidden;
  margin: auto;
  padding: 50px 60px;
  background: #feffff;
  border-radius: 15px ;
  display: flex;
  flex-direction: column;
  margin-top: 212px;
}
.form-control{
  display:block;
  margin-bottom: 10px;
}
.btn.btn-primary{
  color: white;
  background: #2C74B3;
  border: 1px solid #000000;
  border-radius: 30px;
  font-size: 20px;
}
