
main {
  margin-left: 15em;
  margin-top: 12em;
}
.form-group{
  width: 382px;
  overflow: hidden;
  margin: auto;
  // margin: 20 0 0 450px;
  padding: 75px;
  background: #feffff;
  border-radius: 15px ;
}
