.form-group{
  width: 382px;
  overflow: hidden;
  margin: auto;
  padding: 50px 60px;
  background: #feffff;
  border-radius: 15px ;
  display: flex;
  flex-direction: column;
  margin-top: 212px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    text-align: center;
    font:'Roboto', sans-serif;;
  }
  p {
    text-align:center;
    font-size: small;
  }
}
.form-control{
  display:block;
  margin-bottom: 10px;
}
